---
import Contador from "../components/Contador.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../sections/Footer.astro";
---

<Layout title="Registro exitoso">
    <main class="bg-primero"> 
        <section class="bg-hero-car bg-right-top bg-contain bg-no-repeat">
            <div class="hero-banner wrapper py-16 text-white text-center">
    
                <div class="info pt-10 text-center md:text-left">
                   <h1 class="font-NouvelR-Extrabold text-2xl md:text-3xl mb-2">¡Muchas gracias por registrarte!</h1>
                   <p class="text-base">Nos contactaresmos con usted para confirmar su fecha de visita en corferias y la hora de su cita.</p>
                </div>
    
                <img class="w-full max-w-32 md:max-w-44 logo -mt-6 aspect-auto" src="/logo-marcali.svg" alt="Logo Marcali">  
    
                <div class="contador">
                    <p class="text-xl mb-2"><strong>Del 06 al 17 de noviembre</strong></p>
                    <Contador />
                </div>
            </div>
        </section>
    </main>
    <Footer />
</Layout>

<style>
    .hero-banner {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.4fr 2.3fr 0.5fr; 
        gap: 10px 10px; 
        align-items: end;
        grid-template-areas: 
            "logo"
            "info"
            "contador"; 
    }
    .info { 
        grid-area: info;
        justify-self: end; 
    }
    .logo { 
        grid-area: logo; 
        justify-self: left;
    }
    .contador { 
        grid-area: contador;
        justify-self: center;
        align-self: flex-end; 
    }

    @media (min-width: 768px) { 
        .hero-banner {
            grid-template-columns: 0.7fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            gap: 10px 10px; 
            align-items: start;
            grid-template-areas: 
                "info logo"
                "info contador"; 
        }
        .logo { 
            justify-self: end;
        }
        .contador { 
            justify-self: end;
            align-self: end; 
        }
    }
</style>
