---
import Article from "../components/Article.astro"
---
<section class="bg-white">
    <div class="wrapper">
        <div>
            <h2>Aliados financieros para la mejor solusción para tu crédito:</h2>
            <p><i>icono</i>Respuesta de Crédito en minutos</p>

            <Article>
                <h3>para tu mayor liquidez</h3>
                <p>te financiamos con 
                    <strong class="block">tasa del 0%</strong>
                    lo que te drá alivio en tus cuotas mensuales
                </p>
                <img src="" alt="Santander">
            </Article>
        </div>
        <div>
            <img src="" alt="aliados financieros para la mejor solución para tu crédito - Marcali">
            <Article>
                <h3>Borrón y cuenta nueva:</h3>
                <ol class="list-decimal list-inside text-black">
                    <li>Olvidamos tus reportes en centrales de riesgo.</li>
                    <li>Te financiamos hasta el 110% (vehículo+ accesorios + matrícula).</li>
                    <li>Plazo hasta 96 meses.</li>
                    <li>Aumentamos tu capacidad crediticia sumando ingresos con familiares.</li>
                </ol>
                <img src="" alt="Banco Finandina">
            </Article>
        </div>
    </div>
</section>