<section>
    <div class="wrapper relative flex flex-col py-16">
            <img class="block md:absolute max-h-[20%] md:max-h-[40%] lg:max-h-[60%] xl:max-h-[80%] h-fit w-auto md:bottom-48 lg:bottom-0" src="/redimir-bono.webp" alt="Redimir el bono de regalo">
        <div class="w-full md:w-1/2 self-end">
            <h2 class="font-bold text-3xl sm:text-4xl md:text-5xl text-primero mb-6">Cómo redimir <span class="block text-2xl sm:text-3xl md:text-4xl">el bono de regalo de tu boleta</span></h2>
            <ol class=" list-inside text-primero text-xl">
                <li class="mb-5"><span class="bg-segundo font-bold text-xl px-2 py-1 rounded-lg">1.</span> Déjanos tus datos y agendemos una cita.</li> 
                <li class="mb-5"><span class="bg-segundo font-bold text-xl px-2 py-1 rounded-lg">2.</span> Selecciona el vehículo que más te guste.</li>
                <li class="mb-5"><span class="bg-segundo font-bold text-xl px-2 py-1 rounded-lg">3.</span> <strong>Ingresa a Tuboleta</strong> y elige el evento al que deseas asistir.</li>
                <li class="mb-5"><span class="bg-segundo font-bold text-xl px-2 py-1 rounded-lg">4.</span> <strong>Ingresa el código</strong> que te da Marcali y realiza tu redención.</li>
            </ol>
        </div>
        <p class="font-normal self-center text-3xl sm:text-4xl md:text-5xl text-primero text-center border-2 border-solid border-yellow-700 py-2 px-4 rounded-xl w-fit mt-10">Sencillo, personalizable e inolvidable</p>
    </div>
</section>