<section>
    <div class="wrapper">
        <div>
            <img src="" alt="Redimir el bono de regalo">
        </div>
        <div>
            <h2>Cómo redimir <span class="block">el bono de regalo de tu boleta</span></h2>
            <ol class="list-decimal list-inside text-black">
                <li>Déjanos tus datos y agendemos una cita.</li>
                <li>Selecciona el vehículo que más te guste.</li>
                <li><strong>Ingresa a Tuboleta</strong> y elige el evento al que deseas asistir.</li>
                <li><strong>Ingresa el código</strong> que te da Marcali y realiza tu redención.</li>
            </ol>
        </div>
    </div>
    <p class="text-center">Sencillo, personalizable e inolvidable</p>
</section>