---
const IMAGENES = [
    'camilo-primera-fecha',
    'eliminatorias-colombia',
    'carnaval-de-barranquilla',
    'joaquin-sabina',
    'melendi',
    'toto',
    'yeison-jimenez-cali',
    'the-smashing-pumpkins',
    'sting-3.0',
    'cultura-profetica',
    'bring-me-the-horizon',
    'camilo-aegunda-fecha',
    'monster-truck',
    'julieta-venegas',
    'la-cantina-mas-grande',
    'megaland',
    'paloma-san-basilio',
    'delirio-vera',
    'iron-maiden',
    'slipknot-primera-fecha',
    'core-2025',
    'miguel-mateos',
    'silvestre-ocana',
    'ruge',
    'ritvales',
    'delirio',
    'keane',
    'slipknot-segunda-fecha',
    'monsieur-perine'
]
---
<section class="wrapper text-center py-16 text-primero">
    <h2 class="font-NouvelR-Bold text-3xl md:text-4xl">Contenido destacado en el país</h2>
    <p class="text-xl">2024-25 que podrán redimir los clientes de Marcali</p>

    <div class="glide mt-5">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides py-10">
            {
                IMAGENES.map((imagen) => (
                    <li class="glide_slide">
                        <img class="object-cover rounded-2xl shadow-xl md:max-h-64 lg:max-h-80 w-auto aspect-square" src={`/carrousel/${imagen}.webp`} alt={imagen} >
                    </li>
                ))
            }
          </ul>
        </div>

        <div class="glide__bullets mt-5" data-glide-el="controls[nav]">
            {
                IMAGENES.map((imagen, index) => (
                    <button class="glide__bullet" data-glide-dir={`=${index}`}></button>
                ))
            }
          </div>
      </div>
    
</section>

<script>
    import Glide from '@glidejs/glide'

    var carrouselContenido =  new Glide('.glide', {
        type: 'carousel',	
        perView: 3,
        gap: 15,
        autoplay: 2000,
        hoverpause: true,
        dragThreshold: 120,
        animationDuration: 800,
        breakpoints: {
            1024: {
                perView: 2
            },
            600: {
                perView: 1
            }
        }
    })

    carrouselContenido.mount()
</script>

<style>

    .glide__bullets {
        bottom: 0;
    }
    .glide__bullet {
        background-color: #00004787;
    }
    .glide__bullet--active {
        background-color: #000047;
    }
</style>