---
import Title from "../components/Title.astro";
---

<section class="bg-fondo-corferias bg-center bg-no-repeat bg-cover">
    <div class="wrapper py-16 flex flex-col items-center">
        <Title>Visítanos en Corferias</Title>
        <p class="text-center text-white mt-4 text-xl">En el Salón Internacional del Automóvil, Marcali está presente en los siguientes pabellones:</p>

        <img class="mt-10" src="/ubicacion-corferias.webp" alt="Corferias ubicacion marcali">
    </div>
</section>