<section>
    <div class="wrapper">
        <h2>Visítanos en Corferias</h2>
        <p>En el salón internacional del automóvil. Marcali está presente en los siguientes pabellones:</p>

        <img src="" alt="Corferias ubicacion marcali">
    </div>
</section>