<footer class="bg-primero">
    <div class="wrapper text-center text-white text-xl py-6 md:py-14 border-t-2 solid border-gray-600">

        <div class="glide slider-marcas">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides py-5 flex items-center justify-around">
                    <img class="glide__slide object-contain aspect-square max-w-28" src="/marcas/dodge.webp" alt="Dodge">
                    <img class="glide__slide object-contain aspect-square max-w-11" src="/marcas/fiat.webp" alt="Fiat">
                    <img class="glide__slide object-contain aspect-square max-w-14" src="/marcas/honda.webp" alt="Honda">
                    <img class="glide__slide object-contain aspect-square max-w-14" src="/marcas/jeep.webp" alt="Jeep">
                    <img class="glide__slide object-contain aspect-square max-w-14" src="/marcas/movement.webp" alt="Movement">
                    <img class="glide__slide object-contain aspect-square max-w-11" src="/marcas/peugeot.webp" alt="Peugeot">
                    <img class="glide__slide object-contain aspect-square max-w-16" src="/marcas/ram.webp" alt="Ram">
                    <img class="glide__slide object-contain aspect-square max-w-10" src="/marcas/renault.webp" alt="Renault">
                    <img class="glide__slide object-contain aspect-square max-w-11" src="/marcas/volvo.webp" alt="Volvo">
                    <img class="glide__slide object-contain aspect-square max-w-28" src="/marcas/usados.webp" alt="Usados">
                </ul>
            </div>
        </div>        

        <a href="https://cdn.marcali.co/terminos-y-condiciones.pdf" target="_blank" class="underline">*Consulta términos y condiciones aquí</a>
    </div>
</footer>
<script>
    import Glide from '@glidejs/glide'

    var carrouselMarcas = new Glide('.slider-marcas', {
        type: 'carousel',
        perView: 10,
        gap: 30,
        autoplay: 2000,
        hoverpause: true,
        breakpoints: {
            1024: {
                perView: 8
            },
            768: {
                perView: 6
            },
            640: {
                perView: 4
            }
        }
    })
    
    carrouselMarcas.mount()
</script>