---
import Contador from "../components/Contador.astro";
import Pasion from "../icons/Pasion.astro";
---
<main class="bg-primero"> 
    <section class="bg-hero-car bg-right-top bg-contain bg-no-repeat">
        <div class="hero-banner wrapper py-16 text-white text-center">

            <div class="info pt-10">
                <h1 class="leading-3 text-white relative text-xl">Hay quienes hacen las cosas y <strong class="block text-3xl font-NouvelR-Bold">quienes las viven con</strong></h1>

                <div class="flex justify-center">
                    <Pasion />
                </div>
                

                <p class="p-4 md:p-6 pb-8 border-solid border-2 rounded-xl border-yellow-600 text-xl">*Compra tu vehículo con nosotros y asegura hasta <strong> $1.000.000 para entretenimiento con</strong></p>
                <p class="flex justify-center -mt-6">
                    <img class="w-full max-w-40 bg-white rounded-lg" src="/logo-tuboleta.webp" alt="Tu Boleta">
                </p>
                <p class="flex justify-center pt-8">
                    <img class="w-full max-w-40 md:max-w-48 aspect-auto" src="/logo-salon-internacion.webp" alt="XVIII Salón internacional del automovil">
                </p>
            </div>

            <img class="w-full max-w-32 md:max-w-44 logo -mt-6 aspect-auto" src="/logo-marcali.svg" alt="Logo Marcali">  

            <div class="contador">
                <p class="text-xl mb-2"><strong>Del 06 al 17 de noviembre</strong></p>
                <Contador />
            </div>
        </div>
    </section>
</main>
<style>
    .hero-banner {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.4fr 1fr 0.5fr; 
        gap: 10px 10px; 
        grid-template-areas: 
            "logo"
            "info"
            "contador"; 
    }
    .info { grid-area: info; }
    .logo { 
        grid-area: logo; 
        justify-self: left;
    }
    .contador { 
        grid-area: contador;
        justify-self: center;
        align-self: flex-end; 
    }

    @media (min-width: 768px) { 
        .hero-banner {
            grid-template-columns: 0.7fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            gap: 10px 10px; 
            grid-template-areas: 
                "info logo"
                "info contador"; 
        }
        .logo { 
            justify-self: end;
        }
        .contador { 
            justify-self: end;
            align-self: end; 
        }
    }
</style>