---
import Contador from "../components/Contador.astro";
---
<main class="bg-primero"> 
    <section class="bg-hero-car bg-right-top bg-contain bg-no-repeat">
        <div class="hero-banner wrapper py-16 text-white text-center">

            <div class="info pt-10">
                <h1 class="leading-3 text-white relative">Hay quienes hacen las cosas y <strong class="block text-2xl font-NouvelR-Bold">quienes las viven con</strong></h1>

                <div class="relative mb-28 mt-10">
                    <span class="text-border absolute font-Arial-Rounded text-6xl z-10 uppercase top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                        Pasión
                    </span>
                    <span class="text-fondo absolute font-Arial-Rounded text-6xl z-0 uppercase top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                        Pasión
                    </span>
                </div>
                

                <p class="p-4 md:p-6 pb-8 border-solid border-2 rounded-xl border-yellow-600 text-xl">*Compra tu vehículo con nosotros y asegura hasta <strong>1 año de entretenimiento con</strong></p>
                <p class="flex justify-center -mt-6">
                    <img class="w-full max-w-40 bg-white rounded-lg" src="/logo-tuboleta.webp" alt="Tu Boleta">
                </p>
                <p class="flex justify-center pt-8">
                    <img class="w-full max-w-40 md:max-w-48" src="/logo-salon-internacion.webp" alt="XVIII Salón internacional del automovil">
                </p>
            </div>

            <img class="w-full max-w-32 md:max-w-44 logo -mt-6" src="/logo-marcali.svg" alt="Logo Marcali">  

            <div class="contador">
                <p class="text-xl mb-2"><strong>Del 06 al 17 de noviembre</strong></p>
                <Contador />
            </div>
        </div>
    </section>
</main>
<style>
    .text-border {
        color: #ffa6004f;
        text-shadow: 
            -1px -1px 0 white,
            1px -1px 0 white,
            1px 1px 0 white,
            -1px 1px 0 white;
    }
    .text-fondo {
        color: #000;
        text-shadow: 0 0 5px #FFA500, 0 0 15px #FFA500, 0 0 20px #FFA500, 0 0 50px #FF4500, 0 0 10px #FF4500;
    }

    .hero-banner {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.4fr 1fr 0.5fr; 
        gap: 10px 10px; 
        grid-template-areas: 
            "logo"
            "info"
            "contador"; 
    }
    .info { grid-area: info; }
    .logo { 
        grid-area: logo; 
        justify-self: left;
    }
    .contador { 
        grid-area: contador;
        justify-self: center;
        align-self: flex-end; 
    }

    @media (min-width: 768px) { 
        .hero-banner {
            grid-template-columns: 0.7fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            gap: 10px 10px; 
            grid-template-areas: 
                "info logo"
                "info contador"; 
        }
        .logo { 
            justify-self: end;
        }
        .contador { 
            justify-self: end;
            align-self: end; 
        }
    }
</style>