---
import '@glidejs/glide/dist/css/glide.core.min.css';
import '@glidejs/glide/dist/css/glide.theme.min.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Marcali Salon Internacional del Automovil" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo-marcali.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-tercero font-NouvelR-Semibold">
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	/** Utilidades */
	.wrapper {
		@apply w-[90%] mx-auto overflow-hidden max-w-screen-xl;
	}

	strong {
		@apply font-NouvelR-Extrabold;
	}

	@font-face {
		font-family: 'Arial Rounded MT Bold';
		font-display: swap;
		src: url("/fonts/arial-rounded-mt-bold.woff") format("woff");
	}

	@font-face {
		font-family: 'NouvelR Semibold';
		font-display: swap;
		src: url("/fonts/NouvelRSemibold.woff") format("woff");
	}

	@font-face {
		font-family: 'NouvelR Bold';
		font-display: swap;
		src: url("/fonts/NouvelRBold.woff") format("woff");
	}

	@font-face {
		font-family: 'NouvelR Extrabold';
		font-display: swap;
		src: url("/fonts/NouvelRExtrabold.woff") format("woff");
	}
</style>
