---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Marcali Salon Internacional del Automovil" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo-marcali.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Required Core Stylesheet -->
		<link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">

		<!-- Optional Theme Stylesheet -->
		<link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.theme.min.css">
	</head>
	<body class="bg-tercero">
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	/** Utilidades */
	.wrapper {
		@apply w-[90%] mx-auto overflow-hidden max-w-screen-xl;
	}
</style>
